@charset "UTF-8";
/* CSS Document */

body
{background: rgba(234,234,234,1.00);
font-family: "Avenir Light"
}

header img
{position: fixed;
 width: 300px;
 padding: 20px;
 border: none
}

aside
{position: fixed;
 margin: 200px 20px;
 font-size: 16px;
 line-height: 40px;
 letter-spacing: 2px;
 border: thin
}

.main-center img
{width: 50%}
	
 h2 span{font-size: 15px
		
	}
	

#content a{
	color: rgba(255,71,0,1.00);
	}

ul
{margin: 0;
 padding: 0
}

.main-center
{width: 40%;
 margin: 0px auto;
 padding: 40px 0
 
}

.menu a
{text-decoration: none;
 color: rgba(255,71,0,1.00);
}

.menu li
{list-style: none;
	
}

.ABOUT-clearfix th
{font-weight: normal;
 padding: 5px 5px 5px 0px
}

.ABOUT-clearfix td
{font-weight: normal;
 padding: 5px 5px 5px 10px
}

a:hover {
	color: dodgerblue}
	