@charset "UTF-8";
/* CSS Document */

body
{background: rgba(234,234,234,1.00);
font-family: "Avenir Light"
}

header img
{position: fixed;
 width: 3000px;
 padding: 20px;
 border: none
}

aside
{position: fixed;
 margin: 200px 20px;
 font-size: 16px;
 line-height: 40px;
 letter-spacing: 2px
}

ul
{margin: 0;
 padding: 0
}

h1
{font-size: 50px;
 margin: 0;

	
}

h2
{font-size: 10px;
 color: rgba(77,77,77,1.00);
 margin: -10px 0px 40px 0px;
 text-align: right
	
}

h3
{font-size: 10px;
 color:rgba(77,77,77,1.00);
 margin: -10px 0px 0px 0px;
 text-align: left
	
}

.ABOUT-english-text
{font-size: 15px;
margin: 12px 0px 
	
}


.ABOUT-japanese-text
{font-size: 13px;	
 margin: 12px 0px 
}



.normal img 
{width:100%;
 margin: 12px 0px;
 vertical-align: bottom
} 

.normal iframe
{width:100%;
 margin: 12px 0px;
 vertical-align: bottom
} 

ul
{margin: 0;
 padding: 0
}

.main-center
{width: 870px;
 margin: 0px auto;
 padding: 40px 0
 
}

.Photos-clearfix li
{float: left;
 list-style:none;
margin: 12px 24px 12px 0;
	
}


.Photos-clearfix img
{width:423px;
	vertical-align: bottom
	 
}

.Photos-clearfix li:nth-child(2n){
	margin-right: 0}

.clearfix:after{
  content:"";
  display: block;
  clear:both
}





.menu a
{text-decoration: none;
 color: rgba(255,71,0,1.00);
}

.menu li
{list-style: none;
	
}

footer {
 text-align: center;
 font-size: 16px;
 line-height: 40px;
 letter-spacing: 2px;
 margin-bottom: 60px
}

a:hover {
	color: dodgerblue
	}
