@charset "UTF-8";
/* CSS Document */

body
{background: rgba(234,234,234,1.00);
font-family: "Avenir Light"
}

header img
{position: fixed;
 width: 300px;
 padding: 20px;
 border: none
}

aside
{position: fixed;
 margin: 200px 20px;
 font-size: 16px;
 line-height: 40px;
 letter-spacing: 2px
}

ul
{margin: 0;
 padding: 0
}

h1
{font-size: 50px;
 margin: 30px 0px 20px 0px;
 color: rgba(255,71,0,1.00)

	
}

h2
{font-size: 10px;
 color: rgba(77,77,77,1.00);
 margin: -10px 0px 40px 0px;
 text-align: right
	
}

.Photos-clearfix li
{float: left;
 list-style:none;
margin: 0 20px 15px 0;
	
	
}


.main-center img 
{
	width: 150px
	
}

.main-center
{width: 800px;
 margin: 0px auto;
 padding: 40px 300px
 
}

.clearfix:after{
  content:"";
  display: block;
  clear:both
}

.menu a
{text-decoration: none;
 color: rgba(255,71,0,1.00);
}

.menu li
{list-style: none;
	
}

a:hover {
	color: dodgerblue
	}